.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #2a2834;
}

button {
  margin: 10px;
  border: none;
  background-color: white;
  padding: 10px 25px;
  border: 2px solid rgb(128, 0, 0);
  transition-duration: 0.2s;
  cursor: pointer;
  flex: auto;
}

button:hover {
  background-color: rgb(199, 199, 199);
}
button:active {
  box-shadow: 0 3px gray;
  transform: translateY(1px);
  transform: translateX(-1px);
}

select {
  margin: 10px;
  border: none;
  background-color: white;
  padding: 10px 25px;
  border: 2px solid rgb(128, 0, 0);
  transition-duration: 0.2s;
  cursor: pointer;
}


select:active {
  box-shadow: 0 3px gray;
  transform: translateY(1px);
  transform: translateX(-1px);
  background-color: white;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 40pt;
  font-family:'Compacta', 'Impact';
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.753);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}