.collection-page-wrapper {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
}

.collection-head-wrapper {
    background-color: rgb(255, 140, 140);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.collection-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);

}

.collection-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(15% - 30px);
    font-size: medium;
    background-color: rgb(211, 211, 211);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    justify-content: space-between;
}

.collection-kit-details-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
}

.collection-kit-details-text-wrapper {
    flex: auto;
    border-radius: 15px;

}

.collection-kit-box-art {
    justify-content: right;
}
.collection-kit-name {
    cursor: pointer;
    text-decoration: none;
    color: red;
    padding-left: 5px;
}

.collection-kit-name:hover {
    text-decoration: underline;
}

.collection-kit-release-date {
    font-size: medium;
    padding-left: 5px;
    padding-right: 10px;
}

.collection-item-stats-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 140, 140);
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    padding: 10px 10px;
}

.collection-item-stats {
    border-bottom: 2px solid gray;
    margin-top: 1px;
}

@media (max-width: 640px) {
    .collection-item-stats {
        flex-direction: column;
        font-size: small;
    }

    .collection-kit-details-text-wrapper {
        flex: 1;
        flex-direction: column;
        text-align: center;
    }
    
    .collection-item {
        max-width: 40%;
    }

    .collection-kit-box-art {
        flex-shrink: 1;
        width: 60%;
        align-self: center;
    }
}