.collection-page-wrapper {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
}

.collection-head-wrapper {
    background-color: rgb(255, 140, 140);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.collection-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);

}

.collection-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
}

.collection-kit-details-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-radius: 0 0 0 15px;
    padding: 10px;
}

.list-head-details-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #e7e7e7;
    border-radius: 0 0 0 15px;
    padding: 10px;
}

.collection-kit-details-text-wrapper {
    flex: auto;
    border-radius: 15px 0 0 0;
    margin: auto;

}

.collection-kit-box-art {
    justify-content: right;
    max-height: 60px;
    max-width: 70px;
    min-width: 60px;
    min-width: 70px;
    margin-right: 5px;
}


.collection-kit-name {
    cursor: pointer;
    text-decoration: none;
    color: red;
    padding-left: 5px;
    min-width: 300px;
    flex-shrink: 1;
}

.headcollection-kit-name {
    padding-left: 5px;
    
}

.collection-kit-name:hover {
    text-decoration: underline;
}

.collection-kit-release-date {
    font-size: medium;
    padding-left: 5px;
    padding-right: 10px;
}

.collection-item-stats-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 10px;
    margin: auto;
    width: 120px;
    min-width: 120px;
    
}

.collection-kit-grade {
    margin: auto;
    min-width: 130px;
    text-align: center;
}

.collection-kitid {
    margin: auto;
    min-width: 130px;
    text-align: center;
}

.collection-item-stats-rating {
    padding-left: 10px;
    font-size: small;
    max-width: 60px;
    min-width: 60px;
    text-align: center;
}

.collection-item-stats-status {
    font-size: small;
    max-width: 60px;
    min-width: 60px;
    text-align: center;
}

.collection-remove-button-wrapper {
    min-width: 66px;
    margin: auto;
    margin-right: 10px;
}

.collection-remove-button {
    padding: 0px;
    border: 0;
    color: red;
}

.list-head-kit-details {
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
    z-index: 1000; /* Ensure it appears on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the pop-up content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
    max-width: 80%; /* Adjust the width as needed */
    max-height: 80%; /* Adjust the height as needed */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

/* Styles for the close button */
.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/* Style to hide scrollbar when modal is open */
body.modal-open {
    overflow: hidden;
}

@media (max-width: 640px) {
    .collection-item-stats {
        flex-direction: column;
        font-size: small;
    }

    .collection-kit-details-text-wrapper {
        flex: 1;
        flex-direction: column;
        text-align: center;
    }
    


    .collection-kit-box-art {
        flex-shrink: 1;
        width: 60%;
        align-self: center;
    }
}