.nav-bar-container {
    flex: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(176, 73, 255);
    border-radius: 15px;
    min-height: 70px;
    margin: 15px
}
.website-title {
    margin: auto;
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    font-size: larger;
    font-family:'Franklin Gothic Medium';
    text-decoration: none;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(161, 161, 161, 0.459);
}


.nav-bar-navs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    
    
}

.nav-bar-navs a {
    margin: 5px; 
    color: white;
    text-decoration: none;
    background-color: rgba(221, 221, 221, 0.445);
    padding: 6px;
    border-radius: 7px;
  }



.nav-bar-navs a:hover {
    background-color: rgb(182, 182, 182);
    border-radius: 7px;
    padding: 6px;
}

.nav-bar-search-bar {
    max-height: 20px;
    align-self: center;
    width: 19%;
    border-radius: 5px;
    min-width: 150px;
    
}

.nav-bar-login-navs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-login-navs a {
    margin: 5px; 
    color: white;
    text-decoration: none;
    background-color: rgba(221, 221, 221, 0.445);
    padding: 6px;
    border-radius: 7px;
  }


.nav-bar-login-navs a:hover {
    background-color: rgb(182, 182, 182);
    border-radius: 7px;
    padding:6px;
}

.nav-bar-profile-nav {
    display: flex;
    margin-right: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 15%;
}

.nav-bar-profile-nav a {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: rgba(221, 221, 221, 0.445);
    padding: 6px;
    border-radius: 7px;
  }


.nav-bar-profile-nav a:hover {
    background-color: rgb(182, 182, 182);
    border-radius: 7px;
    padding: 6px;
}

@media screen and (max-width: 640px) {
    .website-title {
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .nav-bar-navs {
        justify-content: flex-start;
        margin-left: 0px;
        padding-left: 0px;
        font-size:0%;
        width: 0%;
}
    
    .nav-bar-navs a {
        margin: auto;

        padding: 0px;
        border-radius: 0px;
    }

    .nav-bar-login-navs {
        justify-content: flex-start;
        font-size: small;

}
    
    .nav-bar-login-navs a {
        margin: auto;
    }

    .nav-bar-profile-nav {
        justify-content: flex-start;
        font-size: small;

}
    
    .nav-bar-profile-nav a {
        margin: auto;
    }

    .website-title {
        font-size: small;
        margin-right: 0;
    }        

    .nav-bar-search-bar {
        min-width: 100px; 
    }
    
}